@{
    ViewData["Title"] = "Home";
} 

@section Estilos{
    <link rel="stylesheet" href="~/css/Home/TaskManager/Index.css" asp-append-version="true" />
}

<section id="section_app">
    <div id="container_app">
        <header id="header_app">
            <span >Bienvenido</span>
        </header>
        <main id="body_app">
            <div class="container_tasks">
                <div class="task_item">
                    <div class="task_info">
                        <div class="task_info--container">
                            <span class="task_title">Titulo de la tarea</span>
                            <span class="task_description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, voluptatibus! Corrupti eligendi nihil soluta maxime. Consequatur veritatis, vel fugit excepturi consequuntur aliquid libero totam molestiae voluptas nesciunt, nobis sed cupiditate.</span>
                            <span class="task_date">08/16/2024 19:38</span>
                        </div>
                    </div>
                    <div class="task_action">
                        <img src="~/assets/img/check_task.png" />
                    </div>
                </div>

                <div class="task_item">
                    <div class="task_info">
                        <div class="task_info--container">
                            <span class="task_title">Titulo de la tarea</span>
                            <span class="task_description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, voluptatibus! Corrupti eligendi nihil soluta maxime. Consequatur veritatis, vel fugit excepturi consequuntur aliquid libero totam molestiae voluptas nesciunt, nobis sed cupiditate.</span>
                            <span class="task_date">08/16/2024 19:38</span>
                        </div>
                    </div>
                    <div class="task_action">
                        <img src="~/assets/img/check_task.png" />
                    </div>
                </div>

                <div class="task_item">
                    <div class="task_info">
                        <div class="task_info--container">
                            <span class="task_title">Titulo de la tarea</span>
                            <span class="task_description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, voluptatibus! Corrupti eligendi nihil soluta maxime. Consequatur veritatis, vel fugit excepturi consequuntur aliquid libero totam molestiae voluptas nesciunt, nobis sed cupiditate.</span>
                            <span class="task_date">08/16/2024 19:38</span>
                        </div>
                    </div>
                    <div class="task_action">
                        <img src="~/assets/img/check_task.png" />
                    </div>
                </div>

                <div class="task_item">
                    <div class="task_info">
                        <div class="task_info--container">
                            <span class="task_title">Titulo de la tarea</span>
                            <span class="task_description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, voluptatibus! Corrupti eligendi nihil soluta maxime. Consequatur veritatis, vel fugit excepturi consequuntur aliquid libero totam molestiae voluptas nesciunt, nobis sed cupiditate.</span>
                            <span class="task_date">08/16/2024 19:38</span>
                        </div>
                    </div>
                    <div class="task_action">
                        <img src="~/assets/img/check_task.png" />
                    </div>
                </div>

                <div class="task_item">
                    <div class="task_info">
                        <div class="task_info--container">
                            <span class="task_title">Titulo de la tarea</span>
                            <span class="task_description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, voluptatibus! Corrupti eligendi nihil soluta maxime. Consequatur veritatis, vel fugit excepturi consequuntur aliquid libero totam molestiae voluptas nesciunt, nobis sed cupiditate.</span>
                            <span class="task_date">08/16/2024 19:38</span>
                        </div>
                    </div>
                    <div class="task_action">
                        <img src="~/assets/img/check_task.png" />
                    </div>
                </div>

                <div class="task_item">
                    <div class="task_info">
                        <div class="task_info--container">
                            <span class="task_title">Titulo de la tarea</span>
                            <span class="task_description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, voluptatibus! Corrupti eligendi nihil soluta maxime. Consequatur veritatis, vel fugit excepturi consequuntur aliquid libero totam molestiae voluptas nesciunt, nobis sed cupiditate.</span>
                            <span class="task_date">08/16/2024 19:38</span>
                        </div>
                    </div>
                    <div class="task_action">
                        <img src="~/assets/img/check_task.png" />
                    </div>
                </div>
            </div>
        </main>
        <footer id="footer_app">
            <div class="container_btn_add">
                <button id="btn_add_task" type="button"> <span>+</span> </button>
            </div>
        </footer>
    </div>
</section>